[package]
name = "melior-macro"
description = "Internal macros for Melior"
version = "0.3.1"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/raviqqe/melior"
documentation = "https://raviqqe.github.io/melior/melior/"
readme = "../README.md"
keywords = ["mlir", "llvm"]

[lib]
proc-macro = true

[dependencies]
convert_case = "0.6.0"
once_cell = "1.17.2"
proc-macro2 = "1"
quote = "1"
regex = "1.8.3"
syn = { version = "2", features = ["full"] }

[dev-dependencies]
melior = { path = "../melior" }
mlir-sys = "0.2"
